
.ppp{
    margin-left: 10vw;
    margin-top: 3vh;
}
.page-title{
    margin-bottom: 4rem;
}
.all-projectsss-container{
    gap: 2rem;
    width: 90vw;
    margin: 10vw;
    margin-top: 4vh;


}
.projectss-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    
}